:root {
    --color-primary: #123456;
    --color-secondary: #FFF;
    --azul-royal: #144480;
    --fundo-card-timer: rgba(20, 68, 128, 0.30);
    --lils: #B872FF;
    --linear-botes: linear-gradient(180deg, #B872FF 0%, #144480 100%);
    --azul-profundo: #01080E;
    --fundo-card: rgba(255, 255, 255, 0.50);
    --fundo-card-concludo: rgba(0, 244, 191, 0.40);
}